body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --primary: #ffa07a;
  --dark-primary: #f89770;
  --gray: #fafafa;

  --amplify-colors-brand-primary-10: var(--gray);
  --amplify-colors-brand-primary-20: #fff;
  --amplify-colors-brand-primary-40: var(--primary);
  --amplify-colors-brand-primary-60: var(--primary);
  --amplify-colors-brand-primary-80: var(--primary);
  --amplify-colors-brand-primary-90: var(--dark-primary);
  --amplify-colors-brand-primary-100: var(--primary);
  --amplify-colors-background-secondary: var(--gray);
  --amplify-components-tabs-item-border-color: var(--amplify-colors-neutral-60);
  --amplify-components-tabs-item-color: var(--amplify-colors-neutral-60);
}
